<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moodshop.mapper.TbProvenceMapper" >
  <resultMap id="BaseResultMap" type="com.moodshop.pojo.TbProvence" >
    <id column="provence_id" property="provenceId" jdbcType="INTEGER" />
    <result column="provence_name" property="provenceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    provence_id, provence_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moodshop.pojo.TbProvenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_provence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_provence
    where provence_id = #{provenceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_provence
    where provence_id = #{provenceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moodshop.pojo.TbProvenceExample" >
    delete from tb_provence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moodshop.pojo.TbProvence" >
    insert into tb_provence (provence_id, provence_name)
    values (#{provenceId,jdbcType=INTEGER}, #{provenceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moodshop.pojo.TbProvence" >
    insert into tb_provence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provenceId != null" >
        provence_id,
      </if>
      <if test="provenceName != null" >
        provence_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provenceId != null" >
        #{provenceId,jdbcType=INTEGER},
      </if>
      <if test="provenceName != null" >
        #{provenceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moodshop.pojo.TbProvenceExample" resultType="java.lang.Integer" >
    select count(*) from tb_provence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_provence
    <set >
      <if test="record.provenceId != null" >
        provence_id = #{record.provenceId,jdbcType=INTEGER},
      </if>
      <if test="record.provenceName != null" >
        provence_name = #{record.provenceName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_provence
    set provence_id = #{record.provenceId,jdbcType=INTEGER},
      provence_name = #{record.provenceName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moodshop.pojo.TbProvence" >
    update tb_provence
    <set >
      <if test="provenceName != null" >
        provence_name = #{provenceName,jdbcType=VARCHAR},
      </if>
    </set>
    where provence_id = #{provenceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moodshop.pojo.TbProvence" >
    update tb_provence
    set provence_name = #{provenceName,jdbcType=VARCHAR}
    where provence_id = #{provenceId,jdbcType=INTEGER}
  </update>
</mapper>